body{
  background-color: grey;
}

.header{
  background-color: black;
  color: antiquewhite;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.maincomponent{
  text-align: center;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}

.footer{
  background-color: black;
  color: antiquewhite;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}